.req_logs_ {
    cursor: pointer;
}
.collapse {
    width: 100%;
    height: 220px;
    display: none;
    transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) ease-in-out;
}
.note-path {
    position: absolute;
    left: -20px;
    /* left: calc( 107% - 3px ); Change on click */
    transform: rotate(180deg);
    top: 150px;
    display: none;
    transition: all .3s ease-in-out;
}
.note-path span i {
    position: absolute;
    color: #fff;
    top: 23px;
    right: 6px;
    font-size: 20px;

}
.notes_list {
    width: 500px;
    height: 100px;
    background: rosybrown;
    display: none;
    position: absolute;
}
.note-path span svg {
    fill: #2b2f3e;
}
.x-note-container {
    width: calc( 100% - 2px );
    min-height: 100%;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    z-index: -1;
    /* box-shadow: var(--box-shadow); */
    border-left: 2px solid #2b2f3e;
    transition: all .3s ease-in-out;
}
.xpandable-note:hover .note-path {
    display: inline-block !important;
}
.xpandable-note:hover .content-head {
     
}
.xpandable-note:hover .x-note-container {
    left: -2px !important;
    /* left: calc( -100% - 10px );click */
}
.search_wrap {
    display: flex;
    flex-direction: column;
    border-bottom: var(--border);
    border-radius: 4px;
    border: 1px solid #fff;
    transition: all .5s ease-in-out;
}
.search_wrap:hover {
    border: var(--border);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.20);
}
.search_wrap h1 {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat';
    margin-bottom: 8px;
}
.search_wrap p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.search-details {
    border: var(--border);
    margin: 10px;
    border-radius: 4px;
    padding: 10px;
    font-family: var(--font-normal);
}
.details-wrapp {
    margin-bottom: 8px;
}
.detail-name {
    font-weight: 600;
    font-size: 16px;
    color: #555;
}
.detail-desc {
    font-size: 14px;
}