.req_logs_ {
    cursor: pointer;
}
.collapse {
    width: 100%;
    height: 220px;
    display: none;
    transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) ease-in-out;
}
.note-path {
    position: absolute;
    left: -20px;
    /* left: calc( 107% - 3px ); Change on click */
    transform: rotate(180deg);
    top: 150px;
    display: none;
    transition: all .3s ease-in-out;
}
.note-path span i {
    position: absolute;
    color: #fff;
    top: 23px;
    right: 6px;
    font-size: 20px;

}
.notes_list {
    width: 500px;
    height: 100px;
    background: rosybrown;
    display: none;
    position: absolute;
}
.note-path span svg {
    fill: #2b2f3e;
}
.x-note-container {
    width: calc( 100% - 2px );
    min-height: 100%;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    z-index: -1;
    /* box-shadow: var(--box-shadow); */
    border-left: 2px solid #2b2f3e;
    transition: all .3s ease-in-out;
}
.xpandable-note:hover .note-path {
    display: inline-block !important;
}
.xpandable-note:hover .content-head {
     
}
.xpandable-note:hover .x-note-container {
    left: -2px !important;
    /* left: calc( -100% - 10px );click */
}