/* Flash Messages */

#flash-msgs {
  font-family: "quicksand";
  /* width: 100%; */
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px solid red;
  display: none;
}
#flash-msgs p {
  padding: 10px;
  background: #ff000014;
  color: red;
}
